<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>About Flask</title>
   </head>
   <body>
      {% extends "navigate.html" %}
      {% block content %}
      <div class="format">
        <h1> SQLAlchemy-Challenge </h1>
        <p> Homework Assignment, Module 10 </p>
        <p> Student name: Oleg Ryzhkov </p>
        <img src="{{url_for('static', filename='northwestern.png')}}" width=25% height="auto" align="middle" />
      <div>
      {% endblock %}
   </body>
</html>
