<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Homework Flask Website</title>
   </head>
   <body>
     {% extends "navigate.html" %}
     {% block content %}
      <div class="format">
        <form action = "http://localhost:5000/api/v1.0/period" method = "POST">
          <div class="format">

            <p>Create JSON list of min, avg, max temperature for a chosen period<p>
            <table>
              {% for field in form %}
                <tr>
                <td>{{ field.name }}</td><td>{{ field }}</td>
                <td>{{ field.label }}</td>
                </tr>
              {% endfor %}
            </table>
            <p><input type = "submit" value = "submit" /></p>
          <div>
        </form>
        <p>
        {% if results|length > 0 %}
        <table>
          <tr>
            <th>Station name</th>
            <th>Min temp</th>
            <th>Max temp</th>
            <th>Avg temp</th>
          </tr>
          </tr>
            {% for result in results %}
            <tr>
              <td>{{result[0]}}</td>
              <td>{{result[1]}}</td>
              <td>{{result[2]}}</td>
              <td>{{'%0.2f' % result[3]}}</td>
            {% endfor %}
            </tr>
            </tr>
              <th>Total stations:</th>
              <th>{{total[0]}}</th>
              <th>{{total[1]}}</th>
              <th>{{'%0.2f' % total[2]}}</th>
        </table>
        {% endif %}
        </p>
      <div>
      {% endblock %}
    </body>
</html>
