<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Homework Flask Website</title>
   </head>
   <body>
     {% extends "navigate.html" %}
     {% block content %}
    <div class="container">
      <h1>Temperature Data </h1>
      <p>{{msg_1}}</p>
      <p>{{msg_2}}</p>
      <ul>
        <table>
          <tr>
            <th>Date</th><th>Temperature observations</th>
          <tr>
            {% for n in my_list %}
            <td>{{n[0]}}<td><td>{{n[1]}}<td>
            <tr>
            {% endfor %}
        <table>
      </ul>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    {% endblock %}
  </body>
  </html>
